<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		<context:annotation-config/>
		
		<bean id="e1" class="com.hcl.pojos.Employee" scope="prototype">
			<constructor-arg name="id" value="234"/>
			<constructor-arg name="name" value="Jackson"/>
			<constructor-arg name="salary" value="45000.650"/>
		</bean>
		
		<bean id="e2" class="com.hcl.pojos.Employee" scope="prototype">
			<constructor-arg name="id" value="354"/>
			<constructor-arg name="name" value="Gargesh"/>
			<constructor-arg name="salary" value="57000.990"/>
		</bean>
		
		
		
		<bean id="d1" class="com.hcl.pojos.Department" scope="prototype">
			<constructor-arg name="emps">
			<list>		
					<ref bean="e1"/>
					
					<ref bean="e2"/>
			</list>
			
			
			
			</constructor-arg>
			<constructor-arg name="no" value="90"/>
			<constructor-arg name="title" value="Developer"/>
		</bean>
		

</beans>